section#stay-safe {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
    width: 100%;
    height: 700px;
}

section#stay-safe .stay-safe__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 12px;
    text-align: left;
}

section#stay-safe .stay-safe__content-paragraph {
    color: #616161;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Rubik, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 138.5%; /* 16.62px */
    letter-spacing: 0.96px;
}
