.card-item {
    width: 280px;
    background-color: var(--color-white);
    padding: 37px 6px;
    border-radius: 8px;
    box-shadow: 0 4px 18px 0 var(--color-shadow);
}

.card-item-img {
    width: 65px;
    height: 72px;
    margin-bottom: 58px;
}

.card-item-heading {
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.08em;
    margin-bottom: 4px;
    color: var(--color-black);
}

.card-item-text {
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.08em;
    text-align: center;
    color: var(--color-gray);
}
