.section-healthcare {
    padding-top: 80px;
    padding-bottom: 46px;
    background-color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.healthcare-text {
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.08em;
    text-align: center;
    width: 600px;
}

.healthcare-cards {
    width: 100%;
    background-image: url("../../assets/bg-rec.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 85px;
    gap: 46px;
}


.healthcare-links {
    display: flex;
    gap: 60px;
    align-items: center;
}

.google img {
   width: 160px;
    height: 55px;
}

.apple img {
    width: 165px;
    height: 66px;
}
