button {
    padding: 14px 29px;
    border-radius: 5px;
    font-family: 'Rubik', sans-serif;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color:  var(--color-white);
    border: none;
    min-width: 130px;
    transition: 0.3s all ease;
}

button:hover {
    color: var(--color-black);
    transform: scale(1.1, 1.1);
}

.primary {
    background-color: var(--color-red);
}

.secondary {
    background-color: var(--color-blue);
}
