.section-hero {
    padding: 170px 70px 0;
    position: relative;
}

.hero-bg{
    background-image: url('../../assets/hero-section-img.svg');
    background-repeat: no-repeat;
    position: absolute;
    top: -81px;
    width: 600px;
    right: 0;
    height: 700px;
}

.hero-info {
    max-width: 497px;
    text-align: left;
}

.hero-btn {
    margin-top: 24px;
}

.video-info {
    text-align: left;
    display: flex;
    margin-top: 150px;
}

.video-texts {
    margin-left: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.watch-link {
    text-decoration: none;
    color: var(--color-black);
    line-height: 126%;
    letter-spacing: 1.485px;
    font-size: 9px;
}

.stay-safe-text{
    color:#B0B0B0;
    line-height: 126%;
    letter-spacing: 1.04px;
}
