.data-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.data-item-value {
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    letter-spacing: 0.14em;
    color: var(--color-red);
    margin-bottom: 5px;
}

.data-item-text {
    font-weight: 700;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.37em;
    text-transform: uppercase;
}
