.hero-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 38px 44px 0 52px;
    background-color: rgba(255, 255, 255, 0.8);
}

.logo {
    display: flex;
    align-items: center;
}

.logo-text{
    font-size: 18px;
    margin-bottom: 0;
}

.nav-links {
    display: flex;
    margin-left: 100px;
}

.nav-links a {
    font-family: 'Rubik', sans-serif;
    font-size: 10px;
    font-weight: 700;
    margin-right: 40px;
    text-decoration: none;
    letter-spacing: 1.4px;
    color: var(--color-black);
    transition: color 0.3s ease;
    z-index: 10;
}

.nav-links a:last-child {
    margin-right: 0;
}

.nav-links a:hover {
    color: #007bff;
}

.header-btn{
    z-index: 10;
}
