.section-experts {
    background-color: var(--color-primary);
    padding: 53px 0 116px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.experts-numbers {
    width: 760px;
    height: 200px;
    background-image: url("../../assets/recs-bg-experts.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 46px;
}

.experts-numbers-data {
    padding: 28px 80px;
    border-radius: 16px;
    background-color: var(--color-white);
    display: flex;
    justify-content: space-between;
    gap: 85px;
}

.experts-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.experts-info {
    max-width: 393px;
    text-align: left;
}

.experts-heading {
    margin-bottom: 12px;
}

.experts-btn {
    margin-top: 24px;
}


.experts-video {
    background-color: var(--color-white);
    border-radius: 8px;
    box-shadow: 0 4px 18px 0 rgba(88, 126, 236, 0.18);
    padding: 25px 95px;
    position: relative;
}

.play-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
