@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Rubik:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --color-red: #EC5863;
    --color-blue: #4285F4;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-gray: #616161;
    --color-primary: #FAFBFD;
    --color-shadow: #587EEC2E;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Rubik', sans-serif;
    color: var(--color-black);
    font-size: 12px;
}

body {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    place-items: center;
}

button {
    cursor: pointer;
}

#app {
    max-width: 1152px;
    margin: 0 auto;
    text-align: center;
}

#container {
    padding-left: 70px;
    padding-right: 70px;
}

.section-info-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 0.08em;
}


